params {
    inseq = "/lustre/scratch108/parasites/ss34/pipeline-eval/Ldonovani/input/Ldonovani_BPK282A1.genome.fasta"

    ref_dir = "/nfs/pathogen002/ss34/ref_kinetoplastids"
    ref_species = "LmjF"

    dist_dir = "/lustre/scratch108/parasites/ss34/pipeline-eval/Ldonovani/result_withHints"

    // enable/disable parts of the pipeline
    run_exonerate    = true
    do_contiguation  = false
    do_circos        = false
    make_embl        = true
    use_reference    = false
    fix_polycistrons = true
    run_snap         = false
    run_ratt         = true

    GENOME_PREFIX = "LDONN"
    CHR_PATTERN = "LdonN_(%d+)"
    MAX_GENE_LENGTH = 150000

    RATT_TRANSFER_TYPE = 'Species'

    // AUGUSTUS parameters
    AUGUSTUS_GENEMODEL = 'partial'
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'
    AUGUSTUS_SCORE_THRESHOLD = 0.8

    // Weight description file for kinetoplastids
    WEIGHT_FILE = "${baseDir}/data/weight/weight_kinetoplastid.lua"

    // EMBL file metadata
    EMBL_AUTHORS = "tbd"
    EMBL_TITLE = "tbd"
    EMBL_PUBLICATION = "tbd"
    EMBL_GENOME_TYPE = "tbd"
    EMBL_CLASSIFICATION = "tbd"
    EMBL_ORGANISM = "Leishmania donovani"
    EMBL_PROJ_ACCESSION = "123456"
    EMBL_DESCRIPTION = "tbd"

    TAXON_ID = 57267
    DB_ID = "GeneDB"
}

env.RATT_CONFIG = "${ROOTDIR}/RATT/RATT.config_euk_Pseudo_SpliceSite"
