params {
    inseq = "/lustre/scratch108/parasites/ss34/pipeline-eval/Pf3D7/input/Pfalciparum.genome.fasta"

    ref_dir = "/lustre/scratch108/parasites/ss34/ref_plasmodium"
    ref_species = "Preichenowi"

    dist_dir = "/lustre/scratch108/parasites/ss34/pipeline-eval/Pf3D7/result_noRNA_0.7"

    // enable/disable parts of the pipeline
    run_exonerate    = true
    do_contiguation  = false
    do_circos        = true
    make_embl        = true
    use_reference    = false
    fix_polycistrons = false
    run_snap         = false
    run_ratt         = true
    do_pseudo        = true

    GENOME_PREFIX = "PF3D7"
    CHR_PATTERN = "Pf3D7_(%d+)"
    MAX_GENE_LENGTH = 200000

    ABACAS_CHR_PATTERN = 'PrCDC_(%d+)'
    ABACAS_CHR_PREFIX = "PF3D7"
    ABACAS_SEQ_PREFIX = "PF3D7"
    ABACAS_BIN_CHR = "PF3D7_00"

    RATT_TRANSFER_TYPE = 'Species'

    // AUGUSTUS parameters
    AUGUSTUS_GENEMODEL = 'partial'
    AUGUSTUS_HINTS_MAXINTRONLEN = '30000'
    AUGUSTUS_SCORE_THRESHOLD = 0.7

    // Weight description file for Plasmodium
    WEIGHT_FILE = "${baseDir}/data/weight/weight_plasmodium.lua"

    // EMBL file metadata
    EMBL_AUTHORS = "tbd"
    EMBL_TITLE = "tbd"
    EMBL_PUBLICATION = "tbd"
    EMBL_GENOME_TYPE = "tbd"
    EMBL_CLASSIFICATION = "tbd"
    EMBL_ORGANISM = "Plasmodium falciparum"
    EMBL_PROJ_ACCESSION = "123456"
    EMBL_DESCRIPTION = "tbd"

    TAXON_ID = 57267
    DB_ID = "GeneDB"
}

env.RATT_CONFIG = "${ROOTDIR}/RATT/RATT.config_euk_Pseudo_SpliceSite"
